body {background: aqua}

h1 {font-size: 40px; padding-bottom: 20%; padding-top: 5%;}

h2 {font-size: 20px; padding-bottom: 15px; padding-top: 15px}

ul {font-size: 15px; padding-top: 15px; padding-bottom: 15px}

p {font-size: 15px; padding-top: 15px; padding-bottom: 15px}
